@import '../css/normalize.css';

//colors
$white: white;
$black: black;
$color_mountain_mist_approx: rgb(150, 150, 150);
$color_polo_blue_approx: rgb(133, 155, 195);
$black_30: rgba(0, 0, 0, 0.3);
$white_60: rgba(255, 255, 255, 0.6);
$color_quill_gray_approx: rgb(210, 210, 210);
$color_mountain_mist_50_approx: rgba(150, 150, 150, 0.5);
$black_50: rgba(0, 0, 0, 0.5);
$black_70: rgba(0, 0, 0, 0.7);
$color_tuatara_approx: rgb(55, 55, 55);
$color_silver_approx: rgb(190, 190, 190);

//fonts
$font_0: open_sansregular;

//urls
$url_4: url(../fonts/osans-webfont.ttf);
$url_6: url(../img/apples.jpg);
$url_7: url(../img/sample.jpg);
$url_8: url(../img/sample2.jpg);
$url_9: url(../img/sample3.jpg);
$url_10: url(../img/sample4.jpg);

//@extend-elements
//original selectors
//.header p, .footer p
%extend_1 {
  display: inline-block;
  margin-left: 1em;
  margin-right: 45%;
}

@font-face {
  font-family: $font_0;
  src: $url_4;
  font-weight: normal;
  font-style: normal;
}

.container1 {
  position: relative;
  background-image: $url_6;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 46.25%;
  margin-top: -5px;
  margin-left: -5px;
  .small {
    margin-top: 0;
    margin-bottom: 5%;
  }
}

.white-sans {
  font-family: $font_0;
  color: $white;
}

.black-sans {
  font-family: $font_0;
  color: $black;
}

.grey-sans {
  font-family: $font_0;
  color: $color_mountain_mist_approx;
}

.header {
  position: relative;
  p {
    @extend %extend_1;
  }
  a {
    display: inline-block;
  }
}

.footer {
  position: relative;
  border-width: 0;
  border-top: 0.2em;
  border-style: solid;
  border-color: $color_silver_approx;
  margin: 1em 5em 0;
  p {
    @extend %extend_1;
  }
  a {
    display: inline-block;
  }
  > p {
    margin-right: 38%;
  }
}

.air-button {
  padding: 0.4em;
  margin-left: 2em;
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.3s;
  &:hover {
    border-bottom: 0.1em solid;
    border-color: $color_polo_blue_approx;
  }
}

#active {
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.3s;
  border-bottom: 0.1em solid;
  border-color: $color_polo_blue_approx;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.bigtext {
  position: relative;
  font-size: 350%;
  margin-bottom: 0;
  sup {
    font-size: 50%;
    vertical-align: super;
  }
  span {
    font-size: 200%;
  }
}

.big {
  font-size: 130%;
}

.small {
  font-size: 90%;
}

.italic {
  font-style: italic;
}

.container3 {
  position: relative;
  background-color: $color_quill_gray_approx;
}

.featured {
  padding-top: 4em;
  padding-bottom: 4em;
}

.highlight_line {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

.newsbox {
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0.1em;
  border-color: $white;
  border-style: solid;
  height: 15em;
  margin: 1em;
  &:hover {
    border-color: $color_mountain_mist_50_approx;
    .aligntext {
      visibility: hidden;
    }
  }
}

.aligntext {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.widebox {
  width: 35em;
}

.narrowbox {
  width: 20em;
}

#nb1 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, $black_30 75%, $black_50 85%, $black_70 100%), $url_7;
  &:hover {
    background-image: linear-gradient(180deg, $black_70 0%, $black_70 100%), $url_7;
  }
}

#nb2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, $black_30 75%, $black_50 85%, $black_70 100%), $url_8;
  &:hover {
    background-image: linear-gradient(180deg, $black_70 0%, $black_70 100%), $url_8;
  }
}

#nb3 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, $black_30 75%, $black_50 85%, $black_70 100%), $url_9;
  &:hover {
    background-image: linear-gradient(180deg, $black_70 0%, $black_70 100%), $url_9;
  }
}

#nb4 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, $black_30 75%, $black_50 85%, $black_70 100%), $url_10;
  &:hover {
    background-image: linear-gradient(180deg, $black_70 0%, $black_70 100%), $url_10;
  }
}

.subscribe {
  display: inline-block;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  position: relative;
  width: 96%;
  background-color: $white;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  margin: 1em 1em 3em;
  .emailthing[type=text] {
    margin-left: 2em;
    min-width: 30em;
  }
}

.emailthing {
  height: 3.5em;
  padding: 0.7em;
  background-color: $color_quill_gray_approx;
  border-width: 0.1em;
  border-style: solid;
  border-color: $color_tuatara_approx;
}

.emailthing[type=submit] {
  background-color: $color_tuatara_approx;
  margin: -0.3em;
}

#spambox {
  display: inline-block;
  width: 14em;
  .emailthing {
    height: 2em;
    padding: 0;
    font-size: 80%;
  }
  .emailthing[type=text] {
    margin-left: 0;
    padding-left: 0.3em;
    width: 8em;
  }
  .emailthing[type=submit] {
    margin-left: -0.5em;
  }
}

.butcont .button {
  background-color: $black_30;
  border: 0.1em solid;
  border-color: $white;
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.3s;
  font-size: 1em;
  padding: 1.5em;
  display: inline-block;
  position: relative;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 5%;
  &:hover {
    background-color: $white_60;
    color: $black;
  }
}

.container2 .textbox {
  display: table-cell;
  padding: 5em;
  vertical-align: middle;
}

.container4 .textbox {
  display: table-cell;
  padding: 1em;
  text-align: left;
}