@font-face {
    font-family: 'open_sansregular';
    src: url('osans-webfont.eot');
    src: url('osans-webfont.eot?#iefix') format('embedded-opentype'),
    url('osans-webfont.woff2') format('woff2'),
    url('osans-webfont.woff') format('woff'),
    url('osans-webfont.ttf') format('truetype'),
    url('osans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: white;
    font-size: 1.5vw;
}
.container1 {
    position: relative;
    background-image: url('task/addons/apples.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 46.25%;
}
.white-sans {
    font-family: 'open_sansregular';
    color: white;
}
.black-sans {
    font-family: 'open_sansregular';
    color: black;
}
.button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: white;
    transition-duration: 0.3s;
    font-size: 1em;
    padding: 1.5em;
}
.container1 {
    margin-top: -5px;
    margin-left: -5px;
}
.footer {
  position: relative;
}
.footer p{
  display: inline-block;
  margin-left: 1em;
  margin-right: 50%
}
.footer a{
    box-sizing: border-box;
    display: inline-block;
    padding-left: 2em;
}

.butcont .button {
    display: inline-block;
    position: relative;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 5%;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
.centered {
    text-align: center;
    vertical-align: middle;
}
.bigtext {
    position: relative;
    margin-bottom: 5%;
    font-size: 350%;
}
.bigtext span {
    font-size: 200%;
}
.big {
    font-size: 130%;
}
.small {
    font-size: 90%;
}
.container2 .textbox {
    display: table-cell;
    width: 40%;
    height: 10em;
    padding: 5em;
    vertical-align: middle;
}

.container3 {
  position: relative;
  background-color: rgba(164, 164, 164, 0.5);
}

.featured {
  padding-top: 4em;
  padding-bottom: 4em;
}
.highlight_line{
  text-align: center;
}

.newsbox {
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: white;
  transition-duration: 0.3s;
  height: 15em;
  margin: 2em;
}
.aligntext{
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.widebox{
  width: 35em;
}
.narrowbox{
  width: 20em;
}

#nb1{
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 75%, rgba(0, 0, 0, 0.5) 85%, rgba(0,0,0,0.7) 100%), url('task/addons/sample.jpg');
}
#nb2{
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 75%, rgba(0, 0, 0, 0.5) 85%, rgba(0,0,0,0.7) 100%), url('task/addons/sample2.jpg');
}
#nb3{
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 75%, rgba(0, 0, 0, 0.5) 85%, rgba(0,0,0,0.7) 100%), url('task/addons/sample3.jpg');
}
#nb4{
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 75%, rgba(0, 0, 0, 0.5) 85%, rgba(0,0,0,0.7) 100%), url('task/addons/sample4.jpg');
}
